:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  align-items: center;
}
.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 5px 0;
  border-bottom: 1px solid rgba(74, 28, 28, 0.25);
}
.item-input {
  width: 300px;
}
img {
  width: 150px;
  margin: 20px 0
}
.container {
  display: flex;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}